@using Microsoft.AspNetCore.Identity
@using TripFinder.Data.Models
@using Microsoft.EntityFrameworkCore;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await this.UserManager.GetUserAsync(this.User);
    int notificationsCount = 0;

    if (this.SignInManager.IsSignedIn(this.User))
    {
        notificationsCount = this.UserManager
                    .Users
                    .Include(u => u.ReceivedNotifications)
                    .FirstOrDefault(u => u.Id == user.Id)
                    .ReceivedNotifications
                    .Count;
    }
}

@if (this.SignInManager.IsSignedIn(this.User))
{
    <li><a asp-area="" asp-controller="Trips" asp-action="All">Trips</a></li>
    <li><a asp-area="" asp-controller="Trips" asp-action="MyTrips" asp-route-userId="@user.Id">My trips</a></li>
    <li><a asp-area="" asp-controller="Trips" asp-action="Create">Create trip</a></li>
    <li><a asp-area="" asp-controller="Trips" asp-action="Search">Search</a></li>
    <li><a asp-area="" asp-controller="Cars" asp-action="Index">Car</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">Hello, <span>@user.FirstName</span></a></li>
    <li>
        <a asp-area="" asp-controller="Reviews" asp-action="Pending" asp-route-id="@user.Id">
            <div id="noti_Container">
                <i class="fa fa-trophy fa-lg"></i>
                @if (user.HasUsersToReview)
                {
                    <div class="noti_bubble">new</div>
                }
            </div>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Notifications" asp-action="All" asp-route-userId="@user.Id">
            <div id="noti_Container">
                <i class="fa fa-bell fa-lg"></i>
                @if (notificationsCount > 0)
                {
                    <div class="noti_bubble">@notificationsCount</div>
                }
            </div>
        </a>
    </li>
    <li><a asp-area="Identity" asp-page="/Account/Logout">Sign out</a></li>
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Login">Sign in</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>
}