@model TripFinder.Web.ViewModels.Administration.Dashboard.CarsAllViewModel

@{
    ViewData["Title"] = "AllCars";
    int rowNumber = 0;
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container" style="min-width: 100%; padding-top: 2%">
        <div class="row mb-1 justify-content-center">
            <div class="col-2">
                <h2>All cars:</h2>
            </div>
        </div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Driver</th>
                    <th>Status</th>
                    <th>Created on</th>
                    <th>Deleted on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model.Cars)
                {
                    rowNumber++;
                    <tr>
                        <td>@rowNumber</td>
                        <td>@car.Make</td>
                        <td>@car.Model</td>
                        <td>@(car.IsDeleted ? "N/A" : car.Owner)</td>
                        <td>@(car.IsDeleted ? "Deleted" : "Active")</td>
                        <td>@car.CreatedOn.ToString(GlobalConstants.DefaultDateFormat)</td>
                        <td>@(car.IsDeleted ? car.DeletedOn.ToString(GlobalConstants.DefaultDateFormat) : "N/A")</td>
                        <td>
                            @if (car.IsDeleted)
                            {
                                <a class="btn btn-info" asp-area="Administration" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                            }
                            else
                            {
                                <a class="btn btn-info" asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                            }
                            <a class="btn btn-danger" asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteCar" asp-route-carId="@car.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>