@model TripFinder.Web.ViewModels.Administration.Dashboard.UsersAllViewModel

@{
    ViewData["Title"] = "AllUsers";
    int rowNumber = 0;
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container" style="min-width: 100%; padding-top: 2%">
        <div class="row mb-1 justify-content-center">
            <div class="col-2">
                <h2>All users:</h2>
            </div>
        </div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Status</th>
                    <th>Created on</th>
                    <th>Deleted on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    rowNumber++;
                    <tr>
                        <td>@rowNumber</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@(user.IsDeleted ? "Deleted" : "Active")</td>
                        <td>@user.CreatedOn.ToString(GlobalConstants.DefaultDateFormat)</td>
                        <td>@(user.IsDeleted ? user.DeletedOn.ToString(GlobalConstants.DefaultDateFormat) : "N/A")</td>
                        <td>
                            @if (user.IsDeleted)
                            {
                                <a class="btn btn-info" asp-area="Administration" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">Details</a>
                            }
                            else
                            {
                                <a class="btn btn-info" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">Details</a>
                                <a class="btn btn-danger" asp-area="Administration" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>