@model TripFinder.Web.ViewModels.Users.UserDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container d-table-cell align-middle">
        <div class="row justify-content-center">
            <div class="col-md-8 form text-center">
                <h3>Are you sure you want to delete @Model.FirstName @Model.LastName's profile from TripFinder?</h3>
                <form class="row mb-3 justify-content-md-center" method="post">
                    <div class="col-4 col-md-auto">
                        <button class="btn btn-danger btn-lg" type="submit" asp-area="Administration" asp-controller="Users" asp-action="DeletePost" asp-route-id="@Model.Id"><i class="fa fa-trash"></i> Delete profile</button>
                        <button class="btn btn-outline-warning btn-lg" type="submit" asp-area="Administration" asp-controller="Dashboard" asp-action="AllUsers"><i class="fa fa-undo"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row w-50 mx-auto justify-content-md-center">
            <div class="col-4">
                <div class="d-flex flex-row justify-content-center">
                    <div>
                        <img src="@Model.AvatarImageUrl" alt="Profile Picture" class="rounded-circle">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Profile of: </span>
                        <span class="h3"><strong>@Model.FirstName @Model.LastName</strong></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Rating: </span>
                        <span class="h3"><strong>@Model.Rating.ToString("f")</strong> (from @Model.RatingsCount users)</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Phone number: </span>
                        <span class="h3"><strong>@Model.PhoneNumber</strong></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Gender: </span>
                        <span class="h3"><strong>@(Model.Gender == null || Model.Gender == string.Empty ? "N/A" : Model.Gender)</strong></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Age: </span>
                        @if (Model.Age == null)
                        {
                            <span class="h3"><strong>N/A</strong></span>
                        }
                        else
                        {
                            <span class="h3"><strong>@Model.Age years old</strong></span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Driver: </span>
                        <span class="h3"><strong>@Model.TripsCountAsDriver</strong> times</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Passenger: </span>
                        <span class="h3"><strong>@Model.TripsCountAsPassenger</strong> times</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <span class="h4">Travelled distance: </span>
                        <span class="h3"><strong>@Model.TravelledDistance</strong> km</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
