@inject UserManager<ApplicationUser> UserManager

@model TripFinder.Web.ViewModels.Users.UserDetailsViewModel

@{
    var user = await this.UserManager.GetUserAsync(this.User);
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container d-table-cell align-middle">
        <div class="row w-50 mx-auto justify-content-md-center">
            <div class="col-4">
                <div class="d-flex flex-row justify-content-center">
                    <div>
                        <img src="@Model.AvatarImageUrl" alt="Profile Picture" class="rounded-circle">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Profile of: </span>
                        <span class="h3"><strong>@Model.FirstName @Model.LastName</strong></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Rating: </span>
                        <span class="h3"><strong>@Model.Rating.ToString("f")</strong> (from @Model.RatingsCount users)</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Phone number: </span>
                        <span class="h3"><strong>@Model.PhoneNumber</strong></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Gender: </span>
                        <span class="h3"><strong>@(Model.Gender == null || Model.Gender == string.Empty ? "N/A" : Model.Gender)</strong></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Age: </span>
                        @if (Model.Age == null)
                    {
                        <span class="h3"><strong>N/A</strong></span>

                    }
                    else
                    {
                        <span class="h3"><strong>@Model.Age years old</strong></span>
                    }
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Driver: </span>
                        <span class="h3"><strong>@Model.TripsCountAsDriver</strong> times</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <span class="h4">Passenger: </span>
                        <span class="h3"><strong>@Model.TripsCountAsPassenger</strong> times</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <span class="h4">Travelled distance: </span>
                        <span class="h3"><strong>@Model.TravelledDistance</strong> km</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-md-auto m-auto">
                @if (user.Id == Model.Id)
            {
                <a class="btn btn-warning btn-lg" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-pencil"></i> Edit profile</a>
                <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-trash"></i> Delete profile</a>
            }
                <a class="btn btn-outline-warning btn-lg" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-arrow-circle-left"></i> Go to home page</a>
            </div>
        </div>
    </div>
</section>
