@model TripFinder.Web.ViewModels.Trips.TripDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p>Trip information</p>
                <div class="trip-info">
                    <div class="card-body">
                        <div class="row justify-content-md-center" style="text-align: center;">
                            <div class="col-auto">
                                <h6>From: </h6>
                                <h4>@Model.Origin</h4>
                            </div>
                            <div class="col-auto">
                                <h6>To: </h6>
                                <h4>@Model.Destination</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-12 col-xl-6">
                                <h6>Date: </h6>
                                <h5>@Model.DateOfDeparture.Date</h5>
                                <hr />
                            </div>
                            <div class="col-12 col-xl-6">
                                <h6>Time: </h6>
                                <h5>@Model.TimeOfDeparture.TimeOfDay</h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <h6>Distance: </h6>
                                <h5>@Model.Distance km</h5>
                                <hr />
                            </div>
                            <div class="col-12 col-xl-6">
                                <h6>Estimated minutes: </h6>
                                <h5>@Model.EstimatedMinutes</h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <h6>Expense per person: </h6>
                                <h5>@Model.ExpensePerPerson lv.</h5>
                                <hr />
                            </div>
                            <div class="col-12 col-xl-6">
                                <h6>Free seats: </h6>
                                <h5>@Model.FreeSeats from @Model.TotalSeats</h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <h6>Viewed: </h6>
                                <h5></h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Additional information:</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div class="card-body">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Car information</p>
                <div class="trip-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 mb-3 mb-md-0">
                                <div class="d-flex flex-row justify-content-center">
                                    <img src="@Model.Car.Image.Url" class="rounded-circle">
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <span>Make: </span>
                                        <span>@Model.Car.Make</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <span>Model: </span>
                                        <span>@Model.Car.Model</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <span>Color: </span>
                                        <span>@Model.Car.Color</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <span>Year: </span>
                                        <span>@Model.Car.Year</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <span>Passenger seats: </span>
                                        <span>@Model.Car.PassengerSeats</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons md-18 center text-success"></i> <span>Place for luggage: </span>
                                        @if (Model.Car.PlaceForLuggage)
                                        {
                                            <span class="text-success">@Model.Car.PlaceForLuggage</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.Car.PlaceForLuggage</span>
                                        }
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons md-18 center text-success"></i> <span>Air conditioning: </span>
                                        @if (Model.Car.HasAirConditioning)
                                        {
                                            <span class="text-success">@Model.Car.HasAirConditioning</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.Car.HasAirConditioning</span>
                                        }
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons md-18 center text-muted"></i> <span>Smoking allowed: </span>
                                        @if (Model.Car.AllowedSmoking)
                                        {
                                            <span class="text-success">@Model.Car.AllowedSmoking</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.Car.AllowedSmoking</span>
                                        }
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons md-18 center text-muted"></i> <span>Food allowed: </span>
                                        @if (Model.Car.AllowedFood)
                                        {
                                            <span class="text-success">@Model.Car.AllowedFood</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.Car.AllowedFood</span>
                                        }
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons md-18 center text-success"></i> <span>Drinks allowed: </span>
                                        @if (Model.Car.AllowedDrinks)
                                        {
                                            <span class="text-success">@Model.Car.AllowedDrinks</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.Car.AllowedDrinks</span>
                                        }
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons md-18 center text-success"></i> <span>Pets allowed: </span>
                                        @if (Model.Car.AllowedPets)
                                        {
                                            <span class="text-success">@Model.Car.AllowedPets</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@Model.Car.AllowedPets</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-none d-lg-block">
                    <p>Driver information</p>
                    <div class="trip-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-auto mb-3 mb-sm-0">
                                    <div class="d-flex flex-row justify-content-center">
                                        <img src="@Model.Driver.AvatarImage.Url" alt="Профилна снимка" class="rounded-circle img-fluid profile-picture pp-large pp-sm-small">
                                    </div>
                                </div>
                                <div class="col-12 col-sm">
                                    <a class="text-link" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@Model.Driver.Id">
                                        <span class="h5">@Model.Driver.FirstName @Model.Driver.LastName</span>
                                    </a>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div>Rating</div>
                                            <span>
                                                / 26
                                                <span>votes</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center text-success mb-3">
                                <div class="col-6">
                                    <div class="thin-border py-2" id="passangerCount" data-toggle="tooltip" title="" onclick="showPassangerCountTooltip()" data-original-title="Бил е пътник 0 пъти">
                                        <span>Driver: 0 times</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="thin-border py-2" id="driverCount" data-toggle="tooltip" title="" onclick="showDriverCountTooltip()" data-original-title="Бил е шофьор 35 пъти">
                                        <span>Passenger: 0 times</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <span>Phone number: </span>
                                    <span>@Model.Driver.PhoneNumber</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Passengers</p>
                <div class="trip-info">
                    <div class="card-body">
                        <span>There are no passengers at the moment.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>