@model TripFinder.Web.ViewModels.Cars.CarDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container d-table-cell align-middle">
        <div class="row justify-content-center">
            <div class="col-md-8 form text-center">
                <h3>Are you sure you want to delete this car from TripFinder?</h3>
                <form class="row mb-3 justify-content-md-center" method="post">
                    <div class="col-4 col-md-auto">
                        <button class="btn btn-danger btn-lg" type="submit" asp-area="Administration" asp-controller="Cars" asp-action="DeletePost" asp-route-id="@Model.Id"><i class="fa fa-trash"></i> Delete car</button>
                        <button class="btn btn-outline-warning btn-lg" type="submit" asp-area="Administration" asp-controller="Dashboard" asp-action="AllCars"><i class="fa fa-undo"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row w-50 mx-auto justify-content-md-center">
            <div class="col-4">
                <div class="d-flex flex-row justify-content-center">
                    <div>
                        <img src="@Model.ImageUrl" class="rounded-circle">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row mb-3">
                    <div class="col-12 col-lg-6">
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Car: </div>
                                <h3>@Model.Make @Model.Model</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Owner:</div>
                                <h3>@Model.UserFirstName @Model.UserLastName</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Type:</div>
                                <h3>@Model.Type</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Color:</div>
                                <h3>@Model.Color</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Year:</div>
                                <h3>@Model.Year</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Allowed smoking:</div>
                                <h3>@(Model.AllowedSmoking ? "Yes" : "No")</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Allowed food:</div>
                                <h3>@(Model.AllowedFood ? "Yes" : "No")</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Allowed drinks:</div>
                                <h3>@(Model.AllowedDrinks ? "Yes" : "No")</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Place for luggage:</div>
                                <h3>@(Model.PlaceForLuggage ? "Yes" : "No")</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Allowed pets:</div>
                                <h3>@(Model.AllowedPets ? "Yes" : "No")</h3>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col">
                                <div>Has air conditioning:</div>
                                <h3>@(Model.HasAirConditioning ? "Yes" : "No")</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
